<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>

      input[type=text] {
  width:40%;
  padding: 12px 0px;
  margin: 8px 130px;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
  border-radius: 30px;
}
audio{
  width: 70%;

  left: 30%;
}
/* input[type=text] {
  border: 2px solid rgb(60,255,0);
  border-radius: 30px;
  background-color: grey;
} */
/* input[type=text]:focus {
  background-color: dark grey;
  color: white
} */
      .container{
        text-align: center;
      }

body{
  background: black;
}
nav{
   background-color: rgb(60,255,0);
   height: 8vh;
}
h1{
  color: white;
}
form{
  text-align: center;
}
img{
  opacity: 1;
  height: 325px;
  width: 325px;
  border: 3px solid rgb(60,255,0);
}
    </style>
  </head>
  <body >
    <nav class="navbar navbar-expand-lg navbar-light ">
  <a class="navbar-brand"  href="/home">MediaWorks</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>


    </ul>
    <form class="form-inline my-2 my-lg-0" action="/search" method="post">
      <input class="form-control " type="text" placeholder="Search" name="track" autocomplete="off" style="text-align:center;margin:0;margin-right: 24vw;width: 40vw;">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

  </div>
</nav>

    <!-- <div class="container-fluid fixed-top" style="background-color: rgb(60,255,0);padding: 10px;">

      <form class="" action="/search" method="post">
        <input type="text" name="track" >
        <button type="submit" name="">Search</button>

      </form>
    </div> -->


 <div class="container-fluid" style="text-align: center;padding-top: 20vh;">
   <img src="<%= img %>"><br>
    <h1 style="margin-top: 5vh"><%= n %></h1>
 </div>

 <div class="container-fluid fixed-bottom" style="background-color: rgb(60,255,0);padding; 10px;margin: 5px;">
   <audio controls src="<%= h %>" class="cover-audio" style="margin: 12px;margin-left: 12%;"></audio>
 </div>

    <!-- <a href="<%= h %>">link</a>
  </body>
</html>
