<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>

      input[type=text] {
  width:40%;
  padding: 12px 0px;
  margin: 8px 130px;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
  border-radius: 30px;
}
audio{
  width: 70%;

  left: 30%;
}
/* input[type=text] {
  border: 2px solid rgb(60,255,0);
  border-radius: 30px;
  background-color: grey;
} */
/* input[type=text]:focus {
  background-color: dark grey;
  color: white
} */
      .container{
        text-align: center;
      }

body{
  background: black;
}
nav{
   background-color: rgb(60,255,0);
   height: 8vh;
}
h1{
  color: white;
}
form{
  text-align: center;
}
img{
  opacity: 1;
  height: 325px;
  width: 325px;
  border: 3px solid rgb(60,255,0);
}
/* CORE STYLES */
:root {
  --primary-color: rgba(13, 110, 139, 0.75);
  --overlay-color: rgba(24, 39, 51 , 0.85);
  --menu-speed: 0.75s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}

.showcase {
  background: var(--primary-color);
  color: #fff;
  height: 100vh;
  position: relative;
}

.showcase:before {
  content: '';
  background: url('https://images.pexels.com/photos/533923/pexels-photo-533923.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.showcase .showcase-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.showcase h1 {
  font-size: 4rem;
}

.showcase p {
  font-size: 1.3rem;
}

.btn {
  display: inline-block;
  border: none;
  background: var(--primary-color);
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  transition: opacity 1s ease-in-out;
  text-decoration: none;
}

.btn:hover {
  opacity: 0.7;
}

/* MENU STYLES */
.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}
@media (max-width: 600px) {

}
@media (min-width: 991px) {
  .menu-wrap .hamburger {
    width: 70px;
    height: 75px;
  }

 }
 @media (max-width: 991px) {

   @media (min-width: 575px ){
     .menu-wrap .hamburger {
       width: 85px;
       height: 91px;
     }
   }
   @media (max-width: 575px){
     .menu-wrap .hamburger {
       width: 85px;
       height: 100px;
     }
   }
  }

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}


    </style>
  </head>
  <body >
    <!-- <nav class="navbar navbar-expand-lg navbar-light ">
  <a class="navbar-brand"  href="/home">MediaWorks</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>


    </ul>
    <form class="form-inline my-2 my-lg-0" action="/search" method="post">
      <input class="form-control " type="text" placeholder="Search" name="track" autocomplete="off" style="text-align:center;margin:0;margin-right: 24vw;width: 40vw;">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

  </div>
</nav> -->
<div class="container-fluid" style="background: rgb(60,255,0);padding: 10px; top:0; position: fixed;z-index:1;color:black">
  <form class="form-inline my-2 my-lg-0" action="/search" method="post">
    <input class="form-control " type="text" placeholder="Search" name="track" autocomplete="off" style="text-align:center;margin-left: 32.5vw;margin-right: 4vw;width: 30vw;">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>


<div class="menu-wrap" >
    <input type="checkbox" class="toggler">
    <div class="hamburger"><div></div></div>
    <div class="menu">
      <div>
        <div>
          <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/users/logout">Log out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
    <!-- <div class="container-fluid fixed-top" style="background-color: rgb(60,255,0);padding: 10px;">

      <form class="" action="/search" method="post">
        <input type="text" name="track" >
        <button type="submit" name="">Search</button>

      </form>
    </div> -->


 <div class="container-fluid" style="text-align: center;padding-top: 20vh;">
   <img src="<%= img %>"><br>
    <h1 style="margin-top: 5vh"><%= n %></h1>
 </div>

 <div class="container-fluid fixed-bottom" style="background-color: rgb(60,255,0);padding: 10px;">
   <audio controls src="<%= h %>" class="cover-audio" style="margin: 12px;margin-left: 13%;"></audio>
 </div>

    <!-- <a href="<%= h %>">link</a>
  </body>
</html>
